#clock1{
    x:0;
    y:0;
    height: 84;
    width: 100%;
  }
#clock2{
    x:0;
    y:$+20;
    height: 84;
    width: 100%;
}
.month-container {
    x:270;
    height: 30;
}
.day-container {
    x:270;
    height: 30;
}  
.md-up{
  y:0;
}
.md-down{
  y:34;
}
.ampm-container{
  x:270;
  y:64;
}

.stat{
  height: 30;
  width: 30;
  x:$+14;
}