#clock1{
    x:22;
    y:0;
    height: 84;
    width: 100%;
  }
#clock2{
    x:22;
    y:$+40;
    height: 84;
    width: 100%;
}
.month-container {
    y:90;  
}
.ampm-container{
  x:100%-70;
  y:90;
}
.day-container {
    display: none;
}  
#stats-container .stat{
    height: 30;
    width: 30;
    x:$+8;
  }